.home-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.home-banner-container {
  display: none;
}

.auth-form-container {
  width: 100%;
}

@media (min-width: 576px) {
  .auth-form-container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .auth-form-container {
    width: 550px;
  }
}

@media (min-width: 992px) {
  .home-banner-container {
    display: flex;
    height: 420px;
    flex-direction: column;
    margin-top: 40px;
  }
  .home-banner-container h1 {
    font-size: 52px;
    letter-spacing: -0.015em;
    margin-bottom: 15px;
    color: white;
  }
  .home-banner-container p {
    font-size: 22px;
    letter-spacing: -0.015em;
    font-weight: normal;
    color: #f2f2f2;
  }
  .home-banner-container svg {
      width: 100%;
  }
  .home-container {
    padding: 40px;
  }
  .auth-form-container {
    width: 420px;
    height: 500px;
  }
}
