.login-card h1 {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 20px;
}

.login-submit {
  margin-bottom: 10px;
}

.form-container {
  padding-left: 15px;
  padding-right: 15px;
}
